services:
  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - "4566:4566" # LocalStack Gateway
      - "4510-4559:4510-4559" # external services port range
    env_file:
      - "compose/aws.env"
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - "${TMPDIR:-/tmp}/localstack:/var/lib/localstack"
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
    healthcheck:
      test: ["CMD", "test", "-f", "/tmp/ready"]
      interval: 5s
      start_period: 5s
      retries: 3

  mongodb:
    image: mongo:6.0.13
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data
    restart: always

  gmr-processor:
    build:
      args:
        DEFRA_NUGET_PAT: ${DEFRA_NUGET_PAT}
      context: ./
    ports:
      - "8080:8080"
    depends_on:
      localstack:
        condition: service_healthy
      mongodb:
        condition: service_started
      asb:
        condition: service_healthy
    env_file:
      - "compose/aws.env"
    environment:
      PORT: 8080
      ASPNETCORE_ENVIRONMENT: Development
      LOCALSTACK_ENDPOINT: http://localstack:4566
      DataApi__BaseAddress: "http://wiremock"
      GvmsApi__ClientId: ${GVMS_API_CLIENT_ID}
      GvmsApi__ClientSecret: ${GVMS_API_CLIENT_SECRET}
      TradeImportsServiceBus__Eta__ConnectionString: Endpoint=sb://asb-backend;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true
      TradeImportsServiceBus__ImportMatchResult__ConnectionString: Endpoint=sb://asb-backend;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true
      Mongo__DatabaseUri: mongodb://mongodb:27017/
      AWS_REGION: eu-west-2
      AWS_DEFAULT_REGION: eu-west-2
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_EMF_ENVIRONMENT: Local
      AWS_EMF_NAMESPACE: GmrProcessor
      SQS_ENDPOINT: http://localstack:4566
      USE_LOCALSTACK: true

  asb-backend:
    environment:
      SQL_WAIT_INTERVAL: 0
      SQL_SERVER: sqledge
      MSSQL_SA_PASSWORD: "secretPassword!"
      ACCEPT_EULA: "Y"
    depends_on:
      sqledge:
        condition: service_healthy
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    ports:
      - "5672:5672"
      - "5300:5300"
    pull_policy: always
    volumes:
      - "./compose/asb.json:/ServiceBus_Emulator/ConfigFiles/Config.json"

  asb:
    image: alpine/curl:latest
    depends_on:
      asb-backend:
        condition: service_started
    command: ["tail", "-f", "/dev/null"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://asb-backend:5300/health"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  sqledge:
    healthcheck:
      interval: 5s
      retries: 10
      start_period: 5s
      test: timeout 1 bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/1433'
      timeout: 5s
    image: mcr.microsoft.com/azure-sql-edge:latest
    #    On some platforms there are compatibility issues with running Azure SQL Edge e.g. M1 Macs with later Docker versions.
    #    If SQL Edge does not work for you, try swapping out with SQL Server image instead
    #    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "secretPassword!"

  wiremock:
    environment:
      TZ: Europe/London
    image: sheyenrath/wiremock.net:latest
    ports:
      - "9090:80"

volumes:
  mongodb-data:
